<footer class="bg-dark">
    <hr>
    <p style="text-align: center; color: white;">
        FATEC - Registro </p>
    <br>
</footer>
</body>
<script src="./javascript/javascript.js"></script>

</html>