<%- include('partials/navbar.ejs')%>
<%- include('partials/header.ejs')%>
    <h1>Bem vindo a home page</h1>
    <hr>
    <h3>Iniciando esdutos Node.js</h3>
    <p>Essa paginá está sendo renderizada com ejs no Express.</p>
    <img src="imgs/coringa.png" alt="Homepage">
    <%- include('partials/footer.ejs')%>